.card {
  position: relative;
  color: var(--white);
  background-color: rgb(160, 159, 159);
  height: 100%;
  width: 100%;

  will-change: transform;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  overflow: hidden;
  padding-top: 36.77%;
  backdrop-filter: blur(10px);

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(5) {

    width: 60%;

  }


  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(6) {


    width: calc(40% - 20px);

  }

  .img {
    object-fit: cover;

  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 0;
    height: fit-content;
    backdrop-filter: blur(24px);
    transform: translateY(100%) translateZ(0);
    transition: all 0.4s ease-in;

    &.open {

      transform: translateY(0) translateZ(0);
    }

    &.closing {

      transform: translateY(100%) translateZ(0);

    }
  }

  .title {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 15px;
  }

  .description {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 25px;
  }

  .tags {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(#F9F9F9, 0.4);
    border-radius: 100px;
    padding: 15px;
    height: 45px;
    text-wrap: nowrap;
  }

}