@use '@/shared/scss/index' as helpers;

.teamCard {
  background-color: var(--gray70);
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 25px;

  .info {
    padding: 19px 0;

    .name {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 13px;
      font-weight: 600;
      color: var(--black80);
    }

    .role {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 10px;
      font-weight: 600;
      color: var(--primary);
    }

    .icons {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}