.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 100px;
  transform: translateY(0);
  transition: transform 0.6s var(--ease), background-color 0.6s var(--ease);

  &.hidden {
    transform: translateY(-100%);
  }

  &.background {
    background-color: var(--black);
  }

  &.open {
    cursor: initial;

    a {
      cursor: pointer;
    }

    button {
      cursor: pointer;
    }
  }


}