@use '@/shared/scss/index' as helpers;

.projects {

  position: relative;
  z-index: var(--z-index-prjects);
  background-color: var(--white);
  padding-top: 100px;
  padding: 100px 20px 100px 20px;
  margin-bottom: 100px;

  @include helpers.breakpoint(desktopM) {
    padding: 100px 40px 100px 40px;
    margin: 0 auto 100px auto;
  }

  .container {
    @include helpers.breakpoint(desktopM) {
      max-width: 1360px;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .header {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--black);

    .title {
      line-height: 46px;
      font-size: 70px;
      font-weight: 700;
    }
  }

  .blocks {

    display: flex;
    flex-wrap: wrap;


    row-gap: 30px;
    column-gap: 20px;
  }


}