@use '@/shared/scss/index' as helpers;

.callbackForm {
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 20px;

  @include helpers.breakpoint(lg) {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 64.8% 1fr;
    gap: 24px;
  }

  .content {
    min-height: 540px;
    position: relative;
    overflow: hidden;
    padding: 91px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .video {
      position: absolute;
      inset: 0;
      object-position: center;
      z-index: -1;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 604px;

      .title {
        margin-bottom: 40px;
        color: var(--white);
        font-size: 70px;
        line-height: 60px;
        font-weight: 400;
        text-align: center;

        >span {
          color: var(--primary);

        }
      }

      .description {
        margin-bottom: 80px;
        color: var(--white);
        font-size: 18px;
        line-height: 13px;
        font-weight: 500;
        text-align: center;
      }
    }




  }

  .form {

    background-color: var(--gray70);
    padding: 48.5px 40px;


    .fields {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 60px;
    }

    .button {
      background-color: var(--primary);
      color: var(--white);
      border: none;
      height: 68px;
      width: 100%;
      font-size: 18px;
      line-height: 13px;
      gap: 10px;
      margin-bottom: 30px;

    }

    .agreement {
      margin: 0 auto;
      text-align: center;
      max-width: 268px;
      font-size: 14px;
      line-height: 13px;

      >a {
        text-decoration: underline;
        transition: color 0.2s ease-out;

        &:hover {
          color: var(--primary)
        }
      }
    }
  }
}