@use '@/shared/scss/index' as helpers;

.slogan {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-bottom: 20px;

    @include helpers.breakpoint(sm) {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
    }
  }

  .text {
    font-size: 70px;
    line-height: 100%;
    font-weight: 400;
    position: relative;
    white-space: nowrap;

    animation: text_pulse 2s ease-in-out infinite alternate;

    @include helpers.breakpoint(sm) {
      animation: none;
    }

    @include helpers.breakpoint(lg) {
      font-size: 60px;

    }

    @include helpers.breakpoint(desktopM) {
      font-size: 100px;
      line-height: 71px;
    }

    &.left {

      @include helpers.breakpoint(sm) {
        text-align: end;

        left: 40px;
      }

      @include helpers.breakpoint(desktopM) {
        left: 100px;
      }

    }

    &.right {

      @include helpers.breakpoint(sm) {
        order: 2;
      }



      @include helpers.breakpoint(desktopM) {
        left: -100px;
      }
    }
  }

  .arrow {
    position: relative;
    height: 55px;
    min-height: 55px;
    width: 100%;
    display: none;

    @include helpers.breakpoint(sm) {
      display: block;
    }

    &__left {
      left: -80px;
      transform: rotate(180deg);
      top: 7px;

      @include helpers.breakpoint(desktopM) {
        left: -180px;
      }

    }

    &__right {
      left: 80px;
      top: 7px;

      @include helpers.breakpoint(desktopM) {
        left: 180px;
      }
    }
  }

  .arrow_right_animate {
    animation: arrow_left_move 1s ease-in forwards;
  }

  .arrow_left_animate {
    animation: arrow_right_move 1s ease-in forwards;
  }
}

@keyframes arrow_right_move {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrow_left_move {
  0% {
    transform: rotate(180deg) translateX(100%);
  }

  100% {
    transform: rotate(180deg) translateX(0);
  }
}