@use '@/shared/scss/index' as helpers;

.hero {
  height: 100vh;
  position: relative;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding-top: 169px;
  z-index: var(--z-index-hero);
  padding-bottom: 59px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    height: 100%;
    width: 100%;
  }


  .video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include helpers.breakpoint(lg) {
      max-width: 1027px;
      margin: 0 auto;
    }
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }

  .btn {
    margin-bottom: 105px;
  }

  .logo {
    margin-top: auto;
  }
}