@use '@/shared/scss/index' as helpers;

.textWrapper {
  min-height: 59px;
  border-bottom: 1px solid var(--gray80);
  padding-top: 19px;
  position: relative;

  .label {
    font-size: 22px;
    font-weight: 500;
    color: var(--gray80);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 0;
    transition: all 0.2s ease-out;
    cursor: text;

    &.focused {
      font-size: 18px;
      line-height: 13px;
      top: 0;
      cursor: initial;
    }
  }

  .textarea {
    width: 100%;
    outline: none;
    border: none;
    min-height: 30px;
    font-size: 22px;
    color: var(--black90);
    resize: none;
    overflow-y: auto;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    background: transparent;
    transition: height 0.2s ease-out;
  }

  &.error {

    border-color: var(--red);

    .label {
      color: var(--red);
    }

    .input {
      color: var(--red);
    }
  }
}